body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;       }

h1, h2, h3, h4, h5, h6{ margin: 0}

.container { 
width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }
.intro{
    width: 100%;
    height: 100vh;
    background: url("8bit.gif") center no-repeat;
    background-size: cover;
    -webwit-background-size: cover;
}


.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
}

 
.header__inner{
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    
}
.header__logo{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.nav{
    font-size: 21px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    text-decoration: none;
    transition: color 0.2s linear;
    color: #fff;
}

.nav_link:hover {
    color: #ffa500;
}

.panel {
	border-radius: 10px;
	border:#454357 solid 3px;
	width:210px;
	margin-left: 50px;
	margin-top: 50px;

}
.panel > .title {
	background:#454357;
	color: white;
	text-align:center;

}
.panel > .body {
	padding:4px;
	background:#454357;

}

}